header{
    background: black;
    color: white;
    font-family: 'Advent Pro', sans-serif;
}

section{
    background: antiquewhite;
    font-family: 'Advent Pro', sans-serif;
}

body{
    font-family: 'Advent Pro', sans-serif;
}

.contact-form{

    padding-right: 60%;
    padding-left: 10%;
    border-width: 5px;
    border-right-style:solid;
}

.age{
    padding-right: 75%;
}
.button{
    padding-top: 30px;
}